<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        color: #5a5a5a;
      }
    </style>
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/fontello/css/fontello.css" rel="stylesheet">
    <link href="/static/css/cloud-zoom.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

        <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.1.10.1.min.js"></script>
    <script src="/static/js/cloud-zoom.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/angular-cookies.min.js"></script>
    <script src="/static/js/angular-route.min.js"></script>
    <script src="/static/js/angular-sanitize.js"></script>
    <script src="/static/js/general.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/directives.js"></script>
  </head>

  <body data-ng-app="ecommApp" data-ng-controller="MainCtrl">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><i class="icon-home"></i> {{locale.project_name}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="navbar-text last">{{locale.select_brand}}:</li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span data-ng-if="products_filter.brand == 'all'">{{locale.all}}</span>
                <span data-ng-if="products_filter.brand != 'all'">{{products_filter.brand}}</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" data-ng-click="products_filter.brand = 'all'">{{locale.all}}</a></li>
                <li><a href="#" data-ng-click="products_filter.brand = 'Donier'">Donier</a></li>
                <li><a href="#" data-ng-click="products_filter.brand = 'Atemi'">Atemi</a></li>
              </ul>
            </li>
            <li class="navbar-text last">{{locale.select_category}}:</li>
            <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown">
                <span data-ng-if="products_filter.product_type == 'all'">{{locale.all}}</span>
                <span data-ng-if="products_filter.product_type != 'all'">{{products_filter.product_type}}</span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" data-ng-click="products_filter.product_type = 'all'">{{locale.all}}</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'pads'">Pads</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'blades'">Blades</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'rubber'">Rubber</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'balls'">Balls</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'covers'">Covers</a></li>
                <li><a href="#" data-ng-click="products_filter.product_type = 'sets'">Sets</a></li>
              </ul>
            </li>
            <li><button type="button" data-ng-click="gotoCart()" class="btn btn-success navbar-btn" style="margin-left: 40px"><i class="icon-shopping-cart"></i> {{cart.number_of_items}} items | {{cart.subtotal.toFixed(2)}} &euro;</button></li>
          </ul>
          <ul class='nav navbar-nav navbar-right'>
            <li><a href="#/about"><i class="icon-info"></i> {{locale.about}}</a></li>
            <li><a href="#/contact"><i class="icon-user"></i> {{locale.contact}}</a></li>
            <li>
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-primary navbar-btn" data-ng-repeat="l in supported_locales" data-ng-model="localeId" data-ng-click="updateLocale(l[0])">
                  <input type="radio" name="options" id="option1">{{l[1]}}
                </label>
              </div>
            </li>
          </ul>
          <!--form class="navbar-form pull-right">
            <input class="span2" type="text" placeholder="Email">
            <input class="span2" type="password" placeholder="Password">
            <button type="submit" class="btn">Sign in</button>
          </form-->
        </div><!--/.nav-collapse -->
      </div><!-- container -->
    </div>
  </div>

    <div class="container">
      <div>{{filter}}</div>      
      <div data-ng-view></div>

      <hr style="clear:both">
      <footer>
        <p>&copy; {{locale.copyright_company_name}} 2013</p>
      </footer>

    </div> <!-- /container -->
  </body>
<div id="modal-error" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Error</h4>
      </div>
      <div class="modal-body">
        <span ng-bind-html="modal.error.msg"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</html>
