
.icon-spin:before { content: '\e806'; } /* '' */
.icon-shopping-cart:before { content: '\e804'; } /* '' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-trash:before { content: '\e80a'; } /* '' */
.icon-down:before { content: '\e80c'; } /* '' */
.icon-up:before { content: '\e80b'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-info:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e800'; } /* '' */
.icon-back:before { content: '\e809'; } /* '' */
.icon-speed:before { content: '\e805'; } /* '' */
.icon-control:before { content: '\e807'; } /* '' */
.icon-plus:before { content: '\e808'; } /* '' */