.row-offset {
    margin-top: 100px;
    margin-bottom: 50px;
}

.row-offset img {
    margin-top: -50px;
}

.carousel-caption-background{
    background-color:rgba(0,0,0,0.6);
    box-shadow: 12px 0px 33px 30px rgba(0,0,0,0.6);
}

.carousel-caption p {
    font-size: 13px;
    font-weight: 100;
}

.carousel-caption h3 {
    font-weight: 200;
}

.row {
    padding: 0;
}

.thumbnail {
	border: none;
}

.price {
	font-size: 24px;
	font-weight: 100;
	margin-left: 12px;
}

.product-price {
    font-size: 30px;
    font-weight: 100;
    float: right;
}

.first {
    margin-left: 0 !important;
}

.last {
    margin-right: 0 !important;
}

.aspect {
    font-size: 16px;
    font-weight: 200;
    margin-left: 12px;
}

.aspect-number {
    font-size: 24px;
    font-weight: 200;
    margin-left: 5px;
}

.aspect-text {
    font-weight: bold;
}

.products-row {
    margin-bottom: 100px;
}

.borders-off td {
    border-top: none !important;
}

.btn-block {
    margin:2px;
}

body {
    //background-image: url('http://zednotes.com/wp-content/uploads/2013/08/white-landscape-wallpaper-hd-1.png');
}

.error {
    color:red;
}

.red {
    color: red;
}